!DOCTYPE <html>
    <html>
        <title>TI STORE</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
        html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}
        .w3-sidebar {
            z-index: 3;
            width: 250px;
            top: 43px;
            bottom: 0;
            height: inherit;
        }
        </style>
        <body>


            <div class="w3-top">
                <div class="w3-bar w3-theme w3-top w3-left-align w3-large">
                    <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large w3-theme-l1" href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
                    <a href="/" class="w3-bar-item w3-button w3-theme-l1">TI STORE</a>
                    <a href="/" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Home</a>
                    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Promotion</a>
                    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Oder</a>

                    <a href="#" class="w3-bar-item w3-button w3-right"><i class="fa fa-search"></i></a>
                </div>
            </div>

                <!-- Sidebar -->
            <nav class="w3-sidebar w3-bar-block w3-collapse w3-large w3-theme-l5 w3-animate-left" id="mySidebar">
                <a href="javascript:void(0)" onclick="w3_close()" class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="Close Menu">
                    <i class="fa fa-remove"></i>
                </a>
                <h4 class="w3-bar-item"><b>Menu</b></h4>
                <a class="w3-bar-item w3-button w3-hover-black" href="/Acer">Acer</a>
                <a class="w3-bar-item w3-button w3-hover-black" href="/Asus">Asus</a>
                <a class="w3-bar-item w3-button w3-hover-black" href="/Dell">Dell</a>
                <a class="w3-bar-item w3-button w3-hover-black" href="/Msi">Msi</a>
            </nav>




            <div class="w3-main w3-content w3-padding" style="max-width:1200px;max-height: 200px;margin-left:250px;margin-top:50px">


                <div class="w3-row-padding w3-padding-16 w3-center" id="food">
                    <div class="w3-quarter">
                        <img src="assets/images/Acer/03.jpg" alt="Sandwich" style="width:100%">
                        <h3>Notebook</h3>
                        <p>Acer Notebook Swift SF314-52-51G2/T001</p>
                        <p>ราคา 23,990</p>
                    </div>
                    <div class="w3-quarter">
                        <img src="assets/images/Acer/03.jpg" alt="Steak" style="width:100%">
                        <h3>Notebook</h3>
                        <p>Acer Notebook Swift SF315-41-R4YS/T019 (A)</p>
                        <p>ราคา 20,990</p>
                    </div>
                    <div class="w3-quarter">
                        <img src="assets/images/Acer/03.jpg" alt="Cherries" style="width:100%">
                        <h3>Notebook</h3>
                        <p>Acer Notebook Swift SF315-41-R7JD/T017 (W)</p>
                        <p>ราคา 22,990</p>
                    </div>
                    <div class="w3-quarter">
                        <img src="assets/images/Acer/04.jpg" alt="Pasta and Wine" style="width:100%">
                        <h3>Notebook</h3>
                        <p>Acer Notebook Swift SF514-52T-57ZG /T004</p>
                        <p>ราคา 32,990</p>
                    </div>
                </div>


                <div class="w3-row-padding w3-padding-16 w3-center">
                    <div class="w3-quarter">
                        <img src="assets/images/Acer/06.jpg" alt="Popsicle" style="width:100%">
                        <h3>Notebook</h3>
                        <p>Acer Notebook Aspire A515-51G-560N/T006 (W)</p>
                        <p>ราคา 20,990</p>
                    </div>
                    <div class="w3-quarter">
                        <img src="assets/images/Acer/07.jpg" alt="Salmon" style="width:100%">
                        <h3>Notebook</h3>
                        <p>Acer Notebook Aspire A515-51G-58SB/T001 (W)</p>
                        <p>ราคา 19,990</p>
                    </div>
                    <div class="w3-quarter">
                        <img src="assets/images/Acer/07.jpg" alt="Sandwich" style="width:100%">
                        <h3>Notebook</h3>
                        <p>Acer Notebook Aspire A515-51G-599R/T006</p>
                        <p>ราคา 17,990</p>
                    </div>
                    <div class="w3-quarter">
                        <img src="assets/images/Acer/05.jpg" alt="Croissant" style="width:100%">
                        <h3>Notebook</h3>
                        <p>Acer Notebook AVENGER A615-51G-50EK/T001 (W)</p>
                        <p>ราคา 24,990</p>
                    </div>
                </div>


                <footer class="w3-center w3-black w3-padding-16">
                    <p>Powered by CHAMPAEN</p>
                    <a href="https://www.facebook.com/mychampaen.za" class="w3-bar-item w3-button"><i class="fa fa-facebook-official"></i></a>
                    <a href="https://www.instagram.com/m.chalvarat/?hl=th" class="w3-bar-item w3-button"><i class="fa fa-instagram"></i></a>
                </footer>




        </body>
    </html>
