<!DOCTYPE html>
<html>
    <title>HISTORY</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
    body {font-family: "Times New Roman", Georgia, Serif;}
    h1,h2,h3,h4,h5,h6 {
        font-family: "Playfair Display";
        letter-spacing: 5px;
    }
    </style>
    <body>


        <div class="w3-top">
            <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
                <a href="#home" class="w3-bar-item w3-button">Chalvarat Meethonglang</a>
                    <!-- Right-sided navbar links. Hide them on small screens -->

            </div>
        </div>




        <div class="w3-content" style="max-width:1100px">

                <!-- About Section -->
            <div class="w3-row w3-padding-64" id="about">
                <div class="w3-col m6 w3-padding-large w3-hide-small">
                    <img src="assets/images/me.jpg" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="600" height="750">
                </div>

                <div class="w3-col m6 w3-padding-large">
                    <h1 class="w3-center">About Me</h1><br>
                    <h5 class="w3-center">Start since 1997</h5>
                    <p class="w3-large">My name is Chalvarat Meethonglang. I'm from Thailand. I live in Khon Kaen. Khon Kaen is in the northeast of Thailand. I'm twenty-one old. My Birthday is Monday 7th April 1997. I'm twenty-one old. Personal Address 285/9 Moo.7 Ban Pet Subdistrict,Muang Khon Kaen,Khon Kaen 40000. Phone : 0655137992 </p>
                    <p class="w3-large w3-text-grey w3-hide-medium">Graduated from Khon Kaen Vocational College Khon Kaen. Diploma of Vocational Education. Currently studying Rajamangala University of Technology Isan Khon Kaen Campus. Undergraduate.</p>
                </div>
            </div>

            <hr>



        <footer class="w3-center w3-light-grey w3-padding-32">
            <p>Powered by : <a href="https://www.facebook.com/mychampaen.za" title="Champaen" target="_blank" class="w3-hover-text-green">CHLVARAT</a></p>
        </footer>

    </body>
</html>